<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./_partial/head.ejs %>
</head>
<body>
    <%- include ./_partial/header.ejs %>
    <%- include ./_partial/about_me.ejs %>
    <%- include ./_partial/portfolio.ejs %>
    <%- include ./_partial/contact.ejs %>
    <%- include ./_partial/footer.ejs %>

    <%- js('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') %>
    <%- js('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js') %>
    <%- js('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js') %>
    <%- js('js/main.js') %>
</body>
</html>