<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./_partial/head.ejs %>
</head>
<body>
    <%- include ./_partial/header.ejs %>
    <%- include ./_partial/about_me.ejs %>
    <%- include ./_partial/portfolio.ejs %>
    <%- include ./_partial/contact.ejs %>
    <%- include ./_partial/footer.ejs %>
</body>
</html>