<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="<%= config.description %>">
<meta name="author" content="<%= config.author %>">
<title><%= config.title %></title>
<%- favicon_tag(gravatar('mail@jakob.codes')) %>
<%- css(['https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', 'css/styles', 'css/tooltipster', '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css', 'css/slick-theme']) %>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Coda|Poiret+One' rel='stylesheet' type='text/css'>
<script src="https://use.fontawesome.com/5eaee8a9e8.js"></script>