<section id="portfolio">
    <div class="wrapper">
        <div id="slider">
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'hsrmmedialab-timetable-app', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'hsrmmedialab-timetable-app', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'hsrmmedialab-timetable-app', 'link') %>" class="slider-heading"><%- custom_field('posts', 'hsrmmedialab-timetable-app', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'hsrmmedialab-timetable-app', 'content') %></p>
            </div>
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'neue-studiengaenge', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'neue-studiengaenge', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'neue-studiengaenge', 'link') %>" class="slider-heading"><%- custom_field('posts', 'neue-studiengaenge', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'neue-studiengaenge', 'content') %></p>
            </div>
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'metcalf', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'metcalf', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'metcalf', 'link') %>" class="slider-heading"><%- custom_field('posts', 'metcalf', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'metcalf', 'content') %></p>
            </div>
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'studieninfotag', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'studieninfotag', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'studieninfotag', 'link') %>" class="slider-heading"><%- custom_field('posts', 'studieninfotag', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'studieninfotag', 'content') %></p>
            </div>
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'mindhustla', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'mindhustla', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'mindhustla', 'link') %>" class="slider-heading"><%- custom_field('posts', 'mindhustla', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'mindhustla', 'content') %></p>
            </div>
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'saraandkate', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'saraandkate', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'saraandkate', 'link') %>" class="slider-heading"><%- custom_field('posts', 'saraandkate', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'saraandkate', 'content') %></p>
            </div>
        </div>
    </div>
</section>