<section id="portfolio">
    <div class="wrapper">
        <div id="slider">
            <div>
                <a target="_blank" href="<%- custom_field('posts', 'hsrmmedialab-timetable-app', 'link') %>"><img alt="Webseite" src="<%- custom_field('posts', 'hsrmmedialab-timetable-app', 'image') %>"></a>
                <a target="_blank" href="<%- custom_field('posts', 'hsrmmedialab-timetable-app', 'link') %>" class="slider-heading"><%- custom_field('posts', 'hsrmmedialab-timetable-app', 'heading') %></a>
                <br>
                <p><%- custom_field('posts', 'hsrmmedialab-timetable-app', 'content') %></p>
            </div>
        </div>
    </div>
</section>